<div class="{% if ukMargin is defined %}{{ ukMargin }}{% else %}uk-margin{% endif %}">
    <div class="uk-form-controls">
        {% if label is defined %}
            <label
                class="uk-form-label {% if error is not null %}uk-form-danger{% endif %} uk-margin-small-left"
                for="{{ id }}"
            >
                {{ label }}
            </label>
        {% endif %}
        <textarea
                id="{{ id }}"
                name="{{ name }}"
                rows="{{ rows }}"
                class="
                    uk-textarea uk-border-rounded
                    {% if error is not null %}
                        uk-form-danger
                    {% endif %}
                "
                placeholder="{{ placeholder }}"
        >{{ data }}</textarea>
        {% if error is not null %}
            <p class="uk-form-danger uk-margin-remove-top uk-margin-small-left">
                {{ error }}
            </p>
        {% endif %}
    </div>
</div>